---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

**Upcoming Talks**



**Past Talks**
- Joint Statistical Meetings (JSM 2025), *contributed talk*, August 2025
- Statistics meets Tensors: Methodology, Theory, and Applications at IMSI, Chicago, *poster*, May 2025
- Symposium on Data Science and Statistics (SDSS 2025), *contributed talk*, May 2025
- Department of Mathematics, University of Michigan, *invited talk*, August 2024
- Department of Mathematics, Hong Kong Baptist University, *invited talk*, October 2023
- HKUST SIAM Student Chapter Annual Meeting, *invited talk*, June 2023
- Greater Bay Area Data Science and Statistics Cloud Lecture Series (Online), Capital of Statistics, *invited talk*, April 2023

